.input_search {
    width: 600px;
    margin: 0;
    height: 51px;
    background: none;
    border-bottom: 1px solid #d63461;
    border-radius: 0;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 5px;
    position: relative;
}

.input_div {
  text-align: center;
}
